.barHeading {
    font-size: 50px;
    font-family: "No Continue";
    color: white;
}

.barHeading:hover {
    font-size: 50px;
    font-family: "No Continue";
    color: white;
}

.barLink {
    font-size: 30px;
    font-family: "No Continue";
    color: white;
}
.barLink:hover {
    font-size: 30px;
    font-family: "No Continue";
    color: white;
}

