body {
  background: rgb(114, 162, 192);
  background: radial-gradient(
    circle,
    rgba(114, 162, 192, 1) 0%,
    rgba(29, 101, 166, 1) 51%,
    rgba(25, 46, 91, 0.9668242296918768) 100%
  );
}

.landing-page {
  margin-top: 5%;
  margin-left: 10%;
}

.media-body-heading {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  min-width: 20vw;
  color: #F2A104;
}

.mobile-media-body-heading {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  min-width: 20vw;
  padding-left: 20vw;
  color: #F2A104;
}
.media-body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  padding-right: 65px;
  margin: auto;
  color: #F2A104;
}

.borderMe {
  border-style: solid;
  border-color: white;
}
