.game-card-cat:hover {
    cursor: default;
}

.game-col {
    max-width: 300px;
}

.game-card-cat {
    min-height: 100px;
    max-height: 200px;
    border-width: 5px;
    font-size: 30px;
    font-family: "No Continue";
    color: #F2A104;
    border-style: solid;
    border-color: #F2A104;
}

.game-card {
    max-height: 175px;
    min-height: 125px;
    border-width: 5px;
    font-size: 50px;
    font-family: "No Continue";
    color: white;
    border-style: solid;
    border-color: white;
}

.game-card-played {
    max-height: 175px;
    min-height: 125px;
    border-width: 5px;
    font-size: 50px;
    font-family: "No Continue";
    color: grey;
    border-style: solid;
    border-color: grey;
}

.game-card-played:hover {
    cursor: default;
    max-height: 175px;
    min-height: 125px;
    border-width: 5px;
    font-size: 50px;
    font-family: "No Continue";
    color: grey;
    border-style: solid;
    border-color: grey;
}

.question {
    font-family: "No Continue";
    color: white;
    font-size: 100px;
}

.question:hover {
    cursor: default;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-container {
    font-family: "No Continue";
    color: white;
    font-size: 40px;
}

.my-turn {
    color: white;
    border-style: solid;
    border-color: white;
}

.select-winner:hover {
    cursor: pointer;
    color: white;
    border-style: solid;
    border-color: white;
}
